In [2]:
import pandas as pd
from pathlib import Path

stock_data_to_load = Path("Resources/symbols_valid_meta.csv")

stock_data = pd.read_csv(stock_data_to_load)

In [3]:
tsla_dtl = Path("Resources/TSLA.csv")
tm_dtl = Path("Resources/TM.csv")
race_dtl = Path("Resources/RACE.csv")
hmc_dtl = Path("Resources/HMC.csv")
f_dtl = Path("Resources/F.csv")
gm_dtl = Path("Resources/GM.csv")
nio_dtl = Path("Resources/NIO.csv")
pii_dtl = Path("Resources/PII.csv")
kndi_dtl = Path("Resources/KNDI.csv")
solo_dtl = Path("Resources/SOLO.csv")
fuv_dtl = Path("Resources/FUV.csv")


tsla_df = pd.read_csv(tsla_dtl)
tm_df = pd.read_csv(tm_dtl)
race_df = pd.read_csv(race_dtl)
hmc_df = pd.read_csv(hmc_dtl)
f_df = pd.read_csv(f_dtl)
gm_df = pd.read_csv(gm_dtl)
nio_df = pd.read_csv(nio_dtl)
pii_df = pd.read_csv(pii_dtl)
kndi_df = pd.read_csv(kndi_dtl)
solo_df = pd.read_csv(solo_dtl)
fuv_df = pd.read_csv(fuv_dtl)

In [4]:
auto_stocks_dict = {'Telsa':'TSLA',
                   'Toyota':'TM',
                   'Ferrari':'RACE',
                    'Honda':'HMC',
                    'Ford': 'F',
                    'General Motors': 'GM',
                    'NIO': 'NIO',
                    'Polaris': 'PII',
                    'Kandi Technologies Group': 'KNDI',
                    'Electra Meccanica': 'SOLO',
                    'Arcimoto': 'FUV',
                   }

tickers = [val for val in auto_stocks_dict.values()]

In [5]:
automotive_df = stock_data[stock_data['Symbol'].isin(tickers)]
automotive_df

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
2433,Y,F,Ford Motor Company Common Stock,N,,N,100.0,N,NaN,F,F,N
2859,Y,FUV,"Arcimoto, Inc. - Common Stock",Q,S,N,100.0,N,D,NaN,FUV,N
3051,Y,GM,General Motors Company Common Stock,N,,N,100.0,N,NaN,GM,GM,N
3368,Y,HMC,"Honda Motor Company, Ltd. Common Stock",N,,N,100.0,N,NaN,HMC,HMC,N
4176,Y,KNDI,"Kandi Technologies Group, Inc. - Common Stock",Q,Q,N,100.0,N,N,NaN,KNDI,N
5012,Y,NIO,"NIO Inc. American depositary shares, each rep...",N,,N,100.0,N,NaN,NIO,NIO,N
5598,Y,PII,Polaris Inc. Common Stock,N,,N,100.0,N,NaN,PII,PII,N
5958,Y,RACE,Ferrari N.V. Common Shares,N,,N,100.0,N,NaN,RACE,RACE,N
6644,Y,SOLO,Electrameccanica Vehicles Corp. Ltd. - Common ...,Q,S,N,100.0,N,N,NaN,SOLO,N
7096,Y,TM,Toyota Motor Corporation Common Stock,N,,N,100.0,N,NaN,TM,TM,N
7208,Y,TSLA,"Tesla, Inc. - Common Stock",Q,Q,N,100.0,N,N,NaN,TSLA,N

In [6]:
ticker_symbol = 'FFIE'
matching_rows = stock_data[stock_data['Symbol'] == ticker_symbol]
matching_rows

Empty DataFrame
Columns: [Nasdaq Traded, Symbol, Security Name, Listing Exchange, Market Category, ETF, Round Lot Size, Test Issue, Financial Status, CQS Symbol, NASDAQ Symbol, NextShares]
Index: []

In [7]:
tsla_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-06-29,19.000000,25.000000,17.540001,23.889999,23.889999,18766300
1,2010-06-30,25.790001,30.420000,23.299999,23.830000,23.830000,17187100
2,2010-07-01,25.000000,25.920000,20.270000,21.959999,21.959999,8218800
3,2010-07-02,23.000000,23.100000,18.709999,19.200001,19.200001,5139800
4,2010-07-06,20.000000,20.000000,15.830000,16.110001,16.110001,6866900
...,...,...,...,...,...,...,...
2452,2020-03-26,547.390015,560.000000,512.250000,528.159973,528.159973,17380700
2453,2020-03-27,505.000000,525.799988,494.029999,514.359985,514.359985,14377400
2454,2020-03-30,510.260010,516.650024,491.230011,502.130005,502.130005,11998100
2455,2020-03-31,501.250000,542.960022,497.000000,524.000000,524.000000,17771500
2456,2020-04-01,504.000000,513.950012,475.100006,481.559998,481.559998,13304500