In [7]:
import pandas as pd
from pathlib import Path

stock_data_to_load = Path("Resources/symbols_valid_meta.csv")

stock_data = pd.read_csv(stock_data_to_load)

In [13]:
#Importing data-to-load from resources

arggy_dtl = Path("Resources/ARGGY.csv")
bmwyy_dtl = Path("Resources/BMWYY.csv")
byddf_dtl = Path("Resources/BYDDF.csv")
cenn_dtl = Path("Resources/CENN.csv")
dnfgf_dtl = Path("Resources/DNFGF.csv")
evtv_dtl = Path("Resources/EVTV.csv")
f_dtl = Path("Resources/F.csv")
ffie_dtl = Path("Resources/FFIE.csv")
fsr_dtl = Path("Resources/FSR.csv")
fujhy_dtl = Path("Resources/FUJHY.csv")
fuv_dtl = Path("Resources/FUV.csv")
gelyf_dtl = Path("Resources/GELYF.csv")
gm_dtl = Path("Resources/GM.csv")
goev_dtl = Path("Resources/GOEV.csv")
gwlly_dtl = Path("Resources/GWLLY.csv")
hmc_dtl = Path("Resources/HMC.csv")
hymtf_dtl = Path("Resources/HYMTF.csv")
hyzn_dtl = Path("Resources/HYZN.csv")
isuzy_dtl = Path("Resources/ISUZY.csv")
kndi_dtl = Path("Resources/KNDI.csv")
lcid_dtl = Path("Resources/LCID.csv")
li_dtl = Path("Resources/LI.csv")
mahmf_dtl = Path("Resources/MAHMF.csv")
mbgyy_dtl = Path("Resources/MBGYY.csv")
muln_dtl = Path("Resources/MULN.csv")
mzday_dtl = Path("Resources/MZDAY.csv")
nio_dtl = Path("Resources/NIO.csv")
nkla_dtl = Path("Resources/NKLA.csv")
nsany_dtl = Path("Resources/NSANY.csv")
pii_dtl = Path("Resources/PII.csv")
psny_dtl = Path("Resources/PSNY.csv")
race_dtl = Path("Resources/RACE.csv")
rivn_dtl = Path("Resources/RIVN.csv")
rnlsy_dtl = Path("Resources/RNLSY.csv")
solo_dtl = Path("Resources/SOLO.csv")
stla_dtl = Path("Resources/STLA.csv")
tm_dtl = Path("Resources/TM.csv")
tsla_dtl = Path("Resources/TSLA.csv")
vlvly_dtl = Path("Resources/VLVLY.csv")
vwagy_dtl = Path("Resources/VWAGY.csv")
xpev_dtl = Path("Resources/XPEV.csv")




#Creating dataframes

arggy_df = pd.read_csv(arggy_dtl)
bmwyy_df = pd.read_csv(bmwyy_dtl)
byddf_df = pd.read_csv(byddf_dtl)
cenn_df = pd.read_csv(cenn_dtl)
dnfgf_df = pd.read_csv(dnfgf_dtl)
evtv_df = pd.read_csv(evtv_dtl)
f_df = pd.read_csv(f_dtl)
ffie_df = pd.read_csv(ffie_dtl)
fsr_df = pd.read_csv(fsr_dtl)
fujhy_df = pd.read_csv(fujhy_dtl)
fuv_df = pd.read_csv(fuv_dtl)
gelyf_df = pd.read_csv(gelyf_dtl)
gm_df = pd.read_csv(gm_dtl)
goev_df = pd.read_csv(goev_dtl)
gwlly_df = pd.read_csv(gwlly_dtl)
hmc_df = pd.read_csv(hmc_dtl)
hymtf_df = pd.read_csv(hymtf_dtl)
hyzn_df = pd.read_csv(hyzn_dtl)
isuzy_df = pd.read_csv(isuzy_dtl)
kndi_df = pd.read_csv(kndi_dtl)
lcid_df = pd.read_csv(lcid_dtl)
li_df = pd.read_csv(li_dtl)
mahmf_df = pd.read_csv(mahmf_dtl)
mbgyy_df = pd.read_csv(mbgyy_dtl)
muln_df = pd.read_csv(muln_dtl)
mzday_df = pd.read_csv(mzday_dtl)
nio_df = pd.read_csv(nio_dtl)
nkla_df = pd.read_csv(nkla_dtl)
nsany_df = pd.read_csv(nsany_dtl)
pii_df = pd.read_csv(pii_dtl)
psny_df = pd.read_csv(psny_dtl)
race_df = pd.read_csv(race_dtl)
rivn_df = pd.read_csv(rivn_dtl)
rnlsy_df = pd.read_csv(rnlsy_dtl)
solo_df = pd.read_csv(solo_dtl)
stla_df = pd.read_csv(stla_dtl)
tm_df = pd.read_csv(tm_dtl)
tsla_df = pd.read_csv(tsla_dtl)
vlvly_df = pd.read_csv(vlvly_dtl)
vwagy_df = pd.read_csv(vwagy_dtl)
xpev_df = pd.read_csv(xpev_dtl)

In [14]:
stocks_df_dict = {'Aston Martin': 'arggy_df',
                  'BMW': 'bmwyy_df',
                  'BYD': 'byddf_df',
                  'Cenntro Electric': 'cenn_df',
                  'Dongfeng': 'dnfgf_df',
                  'Envirotech': 'evtv_df',
                  'Ford': 'f_df',
                  'Faraday Future Intelligent': 'ffie_df',
                  'Fisker': 'fsr_df',
                  'Subaru': 'fujhy_df',
                  'Arcimoto': 'fuv_df',
                  'Geely': 'gelyf_df',
                  'General Motors': 'gm_df',
                  'Canoo': 'goev_df',
                  'Great Wall': 'gwlly_df',
                  'Honda': 'hmc_df',
                  'Hyundai': 'hymtf_df',
                  'Hyzon': 'hyzn_df',
                  'Isuzu': 'isuzy_df',
                  'Kandi Technologies': 'kndi_df',
                  'Lucid Group': 'lcid_df',
                  'Li Auto': 'li_df',
                  'Mercedes-Benz': 'mbgyy_df',
                  'Mahindra & Mahindra': 'mahmf_df',
                  'Mullen Automotive': 'muln_df',
                  'Mazda': 'mzday_df',
                  'NIO': 'nio_df',
                  'Nikola Corp.': 'nkla_df',
                  'Nissan': 'nsany_df',
                  'Polaris': 'pii_df',
                  'Polestar': 'psny_df',
                  'Ferrari': 'race_df',
                  'Rivian Automotive': 'rivn_df',
                  'Renault': 'rnlsy_df',
                  'Electrameccanica Vehicles Corp.': 'solo_df',
                  'Stellantis': 'stla_df',
                  'Toyota': 'tm_df',
                  'Tesla': 'tsla_df',
                  'Volvo': 'vlvly_df',
                  'Volkswagen': 'vwagy_df',
                  'XPeng': 'xpev_df'
                 }

In [15]:

#Finding min & max dates for index
min_date = min(pd.to_datetime(globals()[df_name]['Date']).min() for df_name in stocks_df_dict.values())
max_date = max(pd.to_datetime(globals()[df_name]['Date']).max() for df_name in stocks_df_dict.values())

#Setting index to date range
date_range = pd.date_range(start=min_date, end=max_date, freq='D')
merged_df = pd.DataFrame(index=date_range)

# Merging dataframes
for company, df_name in stocks_df_dict.items():
    # Access the DataFrame using the variable name
    df = globals()[df_name]
    # Convert the 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    # Reset index to avoid issues with merging
    df = df.set_index('Date')
    # Merge the DataFrame onto the new DataFrame
    merged_df = pd.merge(merged_df, df['Close'], left_index=True, right_index=True, how='left')
    # Rename the 'Close' column to the company name
    merged_df.rename(columns={'Close': company}, inplace=True)


merged_df = merged_df.round(2)

merged_df

,Aston Martin,BMW,BYD,Cenntro Electric,Dongfeng,Envirotech,Ford,Faraday Future Intelligent,Fisker,Subaru,...,Ferrari,Rivian Automotive,Renault,Electrameccanica Vehicles Corp.,Stellantis,Toyota,Tesla,Volvo,Volkswagen,XPeng
1972-06-01,NaN,NaN,NaN,NaN,NaN,NaN,2.15,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972-06-02,NaN,NaN,NaN,NaN,NaN,NaN,2.15,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972-06-05,NaN,NaN,NaN,NaN,NaN,NaN,2.15,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,38.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-20,2.08,36.77,23.33,1.42,0.38,2.52,NaN,0.08,0.63,11.05,...,NaN,15.89,36.48,0.27,25.4,NaN,NaN,26.39,14.42,9.00
2024-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.56,NaN,...,NaN,NaN,36.98,0.27,NaN,NaN,NaN,NaN,NaN,9.08